<template>
  <div class="card">
    <div class="image-container">

      <img
        v-if="format === 'IMAGE' || format === 'VIDEO'"
        class="image"
        :src="thumbnail_url"
      />
      <div class="info-img-container">
        <p
          v-if="format === 'IMAGE' || format === 'VIDEO'"
          class="info-img-container-text"
        >
          {{ selected_assets }} / {{ total_assets }} Selected
        </p>
        <font-awesome-icon v-if="format === 'IMAGE'" icon="camera" />
        <font-awesome-icon v-if="format === 'VIDEO'" icon="video" />
        <font-awesome-icon v-if="format === 'URL'" icon="link" />
        <font-awesome-icon v-if="format === 'TEXT'" icon="pencil-alt" />
      </div>
    </div>
    <div class="card-body">
      <h4 class="text-message">{{ message }}</h4>
      <div class="content-container">
        <div class="social-content" v-for="platform in platforms">
          <img
            :src="Facebook"
            v-if="platform.name === 'Facebook'"
            class="social-icon"
          />
          <img
            :src="Instagram"
            v-if="platform.name === 'Instagram'"
            class="social-icon"
          />
          <img
            :src="EnabledSvg"
            v-if="platform.has_content === true"
            class="status-icon"
          />
          <img
            :src="DisabledSvg"
            v-if="platform.has_content === false"
            class="status-icon"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DisabledSvg from '../../images/platforms/disabled.svg'
  import EnabledSvg from '../../images/platforms/enabled.svg'
  import Facebook from '../../images/platforms/facebook.svg'
  import Instagram from '../../images/platforms/instagram.svg'
  export default {
    name: 'Card',
    props: ['format', 'thumbnail_url', 'selected_assets', 'total_assets', 'platforms', 'message'],
    data: () => {
      return {
        DisabledSvg,
        EnabledSvg,
        Facebook,
        Instagram
      }
    }
  }
</script>
