<template>
<div class="container">
  <template v-if="loading">
      <Loading />
  </template>
  <template v-else>
    <Title :text="title" />
    <div class="row">
      <div class="column" v-for="item in items">
          <Card
              v-bind:format="item.format"
              v-bind:thumbnail_url="item.thumbnail_url"
              v-bind:selected_assets="item.selected_assets"
              v-bind:total_assets="item.total_assets"
              v-bind:platforms="item.platforms"
              v-bind:message="item.message"
          />
      </div>

    </div>
  </template>
</div>
</template>

<script>
import Card from './Card'
import Loading from './Loading'
import Title from './Title'

export default {
  components: {Card, Loading, Title},
  computed: {
    loading: function () {
      return this.$store.getters._loaded
    },
    items: function () {
      return this.$store.getters._getList
    }
  },
  mounted () {
    this.$store.dispatch('_setListAction')
  },
  data: function () {
    return {
      title: 'IntechIdeas Test'
    }
  }
}
</script>
<style lang="scss">
  @import "main.scss";
</style>

