.container{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.title{
  margin-bottom: 30px;
}
.column{
  flex: 0 0 100%;
  max-width: 500px;
  min-width: 250px;
  padding: 10px;
  .card{
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 5px 0px #cbcbcb;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 15px;
  }
  .image-container{
    height: 250px;
    position: relative;
    overflow: hidden;
    background: #cbcbcb;
    .image{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px; max-height: 500px;
    }
    .info-img-container{
      position: absolute;
      bottom: 10px; right: 10px;
      display: flex;
      align-items: center;
      background-color: #ebebed;
      padding: 5px 10px;
      border-radius: 20px;
      .info-img-container-text{
        margin-right: 5px;
        margin-bottom: 0;
      }
    }
  }
  .text-message{
    text-align: left;
  }
  .content-container{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    .social-content{
      position: relative;
      margin: 0 5px;
      .social.icon{
        width: 20px;
        height: 20px;
      }
      .status-icon{
        position: absolute;
        bottom: -5px; right: -5px;
        width: 15px; height: 15px
      }
    }
  }

}
@media (min-width: 992px) {
  .column{
    flex: 0 0 50%;
  }
}
@media (min-width: 1200px) {
  .column{
    flex: 0 0 25%;
  }
}
